body {
    background-color: #000001;
	background-image: url('line2.gif');
	margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: #0e3;
    font-family: 'SF Mono, monospace';
}

p {
    font-family: 'Courier New', Courier, monospace;
}

#nav {
    display: block;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    list-style: none;
    height: 188px;
    width: 326px;
    margin: 50px;
    width: 376px;
}

a {
    color: orange;
}

#imgmain {
    text-align: left;
}

#main {
    border: 2px solid #0c3;
    width: 476px; 
    height: 288px;
    background-image: url('line5.gif');
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 300px;
}