body {
    background-color: #000;
	background-image: url('line2.gif');
	margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: #0e3;
    font-family: 'Courier New', Courier, monospace;
}

#nav {
    display: block;
    text-align: right;
    font-family: "monospace";
    font-weight: bold;
    list-style: none;
    height: 188px;
    width: 326px;
    margin: 50px;
    background: url('tkangaroo.png') no-repeat 5px 5px;
    _width: 376px;
}

#main {
    border: 1px solid #0c3;
    width: 476px; 
    height: 288px;
    background-image: url('line5.gif');
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}